svg{
  &.chart{
    height: auto;
    width: auto;
  }

  path, g{
    stroke: $white-color;
    fill: $white-color;
  }

  .zodiac-segment, .house-segment, .radix{
    g, path{
      fill-opacity: 0;
      stroke: transparentize($white-color, 0.5);
    }
  }

  .transiting-house-segment {
    g, path{
      fill-opacity: 0;
      stroke: transparentize($white-color, 0.3);
      fill: transparentize($white-color, 0.3);
    }
  }

  .planet {
    g, path{
      stroke: $primary-color;
      fill: darken($primary-color, 5%);
    }

    text{
      fill: darken($primary-color, 5%);
    }
  }

  .planet-lines{
    g, path{
      stroke: transparentize($primary-color, 0.4);
    }
  }

  .transiting-planet {
    g, path{
      stroke: $transit-color;
      fill: darken($transit-color, 5%);
    }

    text{
      fill: darken($transit-color, 5%);
    }
  }

  .transiting-planet-lines{
    g, path{
      stroke: transparentize($transit-color, 0.4);
    }
  }

  .container-circle{
    stroke: $white-color;
  }

  .earth-sign {
    path{
      stroke: $earth-color;
      fill: $earth-color;
    }
  }

  .water-sign{
    path{
      stroke: $water-color;
      fill: $water-color;
    }
  }

  .fire-sign{
    path{
      stroke: $fire-color;
      fill: $fire-color
    }
  }

  .air-sign{
    path{
      stroke: $air-color;
      fill: $air-color;
    }
  }

  .neutral-aspect{
    path{
      stroke: darken($earth-color, 10%);
    }    
  }

  .analytical-aspect, .analytic-aspect{
    path{
      stroke: darken($fire-color, 10%);
    }
  }

  .synthetic-aspect{
    path{
      stroke: darken($water-color, 10%);
    }
  }
}
