$primary-color: #59809d;
$dark-color: #03061c;
$darkish-color: #1f2240;
$gray-color: #bdbdbd;
$secondary-color: #141417;
$light-color: #db8888;
$white-color: #fff;

$body-font-color: $white-color;
$body-bg: $dark-color;

$border-color-dark: #858383;
$border-color-light: #abaaaa;

$fire-color: #e88b27;
$water-color: #07B1E7;
$earth-color: #6b5442;
$air-color: #ffffff;

$transit-color: darken($earth-color, 5%);

$success-color: $earth-color;
$warning-color: $air-color;
$error-color:   $fire-color;

$unit-o: .05rem;
$border-width: $unit-o;

// From: https://github.com/necolas/normalize.css/issues/665
$title-font-family:  "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$base-font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
