$primary-color: #B89662;
$dark-color: #000950;
$darkish-color: #0C1775;
$gray-color: #1e2ca2;
$secondary-color: #000063;
$light-color: #3c4feb;
$white-color: #fff;

$body-font-color: $white-color;
$body-bg: linear-gradient(180deg, $darkish-color 90%, $dark-color 100%);//linear-gradient(180deg, $secondary-color 0%, $dark-color 100%);

$border-color-dark: #2F3EBA;
$border-color-light: #3c4feb;

$fire-color: #C31515;
$water-color: #07B1E7;
$earth-color: #00D89C;
$air-color: #EEB357;

$success-color: $earth-color;
$warning-color: $air-color;
$error-color:   $fire-color;

// From: https://github.com/necolas/normalize.css/issues/665
$title-font-family:  "Americana", "Quattrocento", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
